*
!.gitignore
!config.hpp
!cracking.cpp
!cracking.hpp
!declarations.hpp
!doit.sh
!functions.hpp
!gsc.cpp
!gsc.hpp
!gsc_bots.cpp
!gsc_bots.hpp
!gsc_entity.cpp
!gsc_entity.hpp
!gsc_exec.cpp
!gsc_exec.hpp
!gsc_memory.cpp
!gsc_memory.hpp
!gsc_mysql.cpp
!gsc_mysql.hpp
!gsc_mysql_voron.cpp
!gsc_mysql_voron.hpp
!gsc_player.cpp
!gsc_player.hpp
!gsc_utils.cpp
!gsc_utils.hpp
!gsc_weapons.cpp
!gsc_weapons.hpp
!libcod.cpp
!README.md